Package: devops-ca-tools
Version: 1.0-1
Architecture: all
Maintainer: DevOps Student <admin@devops.local>
Installed-Size: 9
Depends: easy-rsa, openssl, ufw, bash
Section: admin
Priority: optional
Description: Набор утилит для удостоверяющего центра (CA) DevOps-проекта
 Набор скриптов и базовых каталогов для развёртывания
 и обслуживания простого удостоверяющего центра (CA)
 на базе Easy-RSA. Пакет подготавливает окружение,
 создаёт структуру /etc/pki и устанавливает утилиты
 для инициализации PKI, выпуска и отзыва сертификатов.
